@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e3eb;
}

.calculator {
  position: relative;
  /* max-width: 300px;
  width: 100%; */
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 20px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: inset;
  border-radius: 15px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.keys button {
  border-radius: 12px 10px;
  padding: 10px;
  border: none;
  background-color: #eee;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 150ms ease-in;
}

.keys button:hover {
  background-color: #dbdddd;
}

.keys button:active {
  background-color: #949b9b;
  transform: scale(0.99);
}

.operator {
  color: #008587;
}

.operator:hover {
  color: #006061;
}

.operator:active {
  color: #003536;
}